/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* line 15, ../sass/main.scss */
.contact-form label {
  display: none;
}
/* line 18, ../sass/main.scss */
.contact-form input {
  display: block;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border: none;
  margin: 5px 0;
}
/* line 25, ../sass/main.scss */
.contact-form .sendButton {
  font-size: 30px;
  padding: 10px 55px;
  background-color: #002164;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF002164', endColorstr='#FF007CBC');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjE2NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2NiYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #002164), color-stop(100%, #007cbc));
  background-image: -moz-linear-gradient(top, #002164 0%, #007cbc 100%);
  background-image: -webkit-linear-gradient(top, #002164 0%, #007cbc 100%);
  background-image: linear-gradient(to bottom, #002164 0%, #007cbc 100%);
  color: white;
  border-radius: 6px 6px;
  border: none;
  margin: 20px;
}

/* line 37, ../sass/main.scss */
section {
  position: relative;
  overflow: hidden;
}

/* line 41, ../sass/main.scss */
.image-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(6deg);
  transform-origin: top right;
}

/* line 53, ../sass/main.scss */
.cta {
  text-align: center;
  z-index: 100;
}
/* line 56, ../sass/main.scss */
.cta form {
  width: 40%;
  padding: 10%;
  position: relative;
}
/* line 61, ../sass/main.scss */
.cta input {
  font-size: 20px;
}
/* line 64, ../sass/main.scss */
.cta h1 {
  font-weight: normal;
}
/* line 67, ../sass/main.scss */
.cta .call {
  font-family: times new roman;
  font-size: 20px;
  color: gray;
  font-style: italic;
}
/* line 73, ../sass/main.scss */
.cta .phone a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
}
/* line 80, ../sass/main.scss */
.cta .cta-bg {
  background: url(../images/keys.jpg);
  background-size: cover;
}

/* line 85, ../sass/main.scss */
.translucentBox {
  margin: 50px 50px 150px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px;
  overflow: hidden;
  z-index: 10;
  position: relative;
}

/* line 95, ../sass/main.scss */
.description {
  z-index: 90;
  overflow: hidden;
  color: white;
  margin-top: -20%;
  padding-top: 20%;
}

/* line 103, ../sass/main.scss */
.description-bg {
  background: url(../images/open-road.jpg);
  background-size: cover;
}

/* line 108, ../sass/main.scss */
.mainDescription {
  float: left;
  width: 50%;
  padding: 30px;
}
/* line 112, ../sass/main.scss */
.mainDescription h2 {
  font-size: 4em;
  font-weight: 800;
  color: white;
}

/* line 119, ../sass/main.scss */
.secondDescription {
  padding: 90px 5px;
}
/* line 121, ../sass/main.scss */
.secondDescription ul {
  list-style: none;
}
/* line 124, ../sass/main.scss */
.secondDescription li {
  margin-bottom: 25px;
}

/* line 129, ../sass/main.scss */
.price {
  text-align: center;
  overflow: hidden;
  z-index: 80;
  background: url(../images/driver.jpg);
  background-size: cover;
  margin-top: -20%;
  padding-top: 20%;
  color: black;
}
/* line 137, ../sass/main.scss */
.price h3 {
  color: white;
  margin: 0;
  padding: 150px 0 0;
  font-size: 25px;
}
/* line 144, ../sass/main.scss */
.price li {
  border-right: 1px solid gray;
  min-height: 140px;
  float: left;
  padding: 50px;
}
/* line 149, ../sass/main.scss */
.price li:last-child {
  border: none;
}
/* line 153, ../sass/main.scss */
.price .cost {
  font-size: 70px;
}
/* line 156, ../sass/main.scss */
.price .type {
  font-size: 20px;
  color: gray;
}
/* line 160, ../sass/main.scss */
.price .carValue {
  font-size: 10px;
  color: gray;
}
/* line 164, ../sass/main.scss */
.price .whiteBox {
  list-style: none;
  margin: 60px 40px 300px 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  border-radius: 20px 20px;
  overflow: hidden;
}
/* line 175, ../sass/main.scss */
.price .footer {
  text-align: center;
}

/* line 179, ../sass/main.scss */
.returnHomeButton {
  font-size: 25px;
  padding: 10px 55px;
  background-color: #002164;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF002164', endColorstr='#FF007CBC');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjE2NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2NiYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #002164), color-stop(100%, #007cbc));
  background-image: -moz-linear-gradient(top, #002164 0%, #007cbc 100%);
  background-image: -webkit-linear-gradient(top, #002164 0%, #007cbc 100%);
  background-image: linear-gradient(to bottom, #002164 0%, #007cbc 100%);
  color: white;
  border-radius: 6px 6px;
  border: none;
  margin: 20px;
  text-decoration: none;
}
